.Tweet{   
    display:flex;
    align-items: flex-start;
    margin-top:20px;
    border: 1px solid grey;
    border-radius: 20px;
}
.tweet_Body {
    flex:1;
    padding:10px;
 
}
.tweet_avatar{
    padding: 20px;
    padding-right: 10px;

}
.tweet_body>img{
    border-radius: 20px;
    width:100%;
}



.delete{
    flex:0.1;
    color: white;
    font-size: 26px;
    background-color: #171717;
    border:none;
    margin-top: auto;
    margin-right: 3px;
    margin-bottom: 3px;
    border-radius: 20px;
   
}


.delete:hover{
    color: #1da1f2;
    cursor:pointer;
}


.buttFriendProfile{
    background:  #171717;
    font-size:1.3em;
    font-weight: 500;
    align-items : center;
   
   
    text-decoration: none;
    color: white;
    cursor: pointer;   
    border:none;
    color:white;
    
    
}
.buttFriendProfile:hover{
    color: #1da1f2;
    border-radius: 1.5em;
    background: #192734;
}
.tweet_headerSpecial{
    font-weight: 600;
    font-size: 16px;
    color:gray;
    margin-left: 5px;
}
.tweet_headerDescription{
    margin-bottom: 10px;
    font-size: 15px;
}
.tweet_description{
    color: white;
}